@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&family=Outfit:wght@300&family=Roboto+Slab&family=Varela+Round&display=swap');
@import url(' https://fonts.cdnfonts.com/css/strasua ');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Outfit", sans-serif;
}

main{
    text-align: center;
}


/*navbar*/
.collapse{
    display: flex;
    justify-content: end;

}
.container-fluid a{
    font-family: 'Strasua', sans-serif;
    color: #F7FAE5;
}

.navbar{
    background-color: #32322E;
}


/*fin navbar*/



h1{
    text-align: center;
    font-family: 'Strasua', sans-serif;
    margin-top: 50px;
    font-size: 45px;
    letter-spacing: 2px;
    
}

.h1-dif{
    display: inline;
    color: #F37219;
    letter-spacing: 2px;
}

video{
    width: 100%;
    height: 650px;
    margin-top: 45px;
     
}


.titulo1{
    text-align: center;
    font-size: 45px;
    margin-top: 65px;
    font-family: 'Strasua', sans-serif;
    
}

.titulo2{
    text-align: center;
    font-size: 45px;
    margin-top: 55px;
    margin-bottom: 60px;
    font-family: 'Strasua', sans-serif;
}

.titulo3{
    font-size: 40px;
    margin-top: 60px;
}

.productosmasvendidos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 30px;
    
    
}

.producto1{
    margin-top: 80px;
    cursor: pointer;
    overflow: hidden;
    transition: all .5s;
    
        
}

.producto1:hover{
    box-shadow: 0 0 10px gray;
    
}


.productosmenu{
    width: 450px;
    transition: all .5s;
      
}

.productosmenu:hover{
    transform: scale(1.1);
}

.h2-pm{
    font-size: 30px;
    margin-top: 24px;
}

.h3-pm{
    font-size: 20px;
    margin-top: 7px;

}


div h2{
    font-size: 30px;
    margin-left: 10px;
    text-align: left;
    
}

div h3{
    font-size: 20px;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 12px;
    text-align: left;
    color: #3c3c3ac8;
}

.productos2{
    cursor: pointer;
    margin-bottom: 35px;
    overflow: hidden;
    transition: all .5s;

}

.productos2:hover{
    box-shadow: 0 0 10px gray;  
    
}

.vermas{
    padding: 8px;
    border-radius: 9px;
    text-align: center;
    text-transform: uppercase;
    color:black;
    text-decoration: none;
    font-size: 20px;
    border: solid 1px black;
    transition: all .3s;


}

.vermas:hover{
    background-color:#F37219;
    color: white;
    border: solid 1px white;
}


.productosmenu2{
    width: 476px;
    cursor: pointer;
    margin-bottom: 35px;
    transition: all .5s;
 
    
}

.productosmenu2:hover{
    transform: scale(1.1);
}


.jordanproductos{
    background-image: url(../assets/zapas_productos.jpg);
    background-attachment: fixed;
    width: 100%;
    height: 850px;
    border-bottom: solid 5px black;
    
}

.productos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}

.titulo-new{
    text-align: center;
    font-size: 45px;
    margin-top: 65px;
    margin-bottom: 40px;
    font-family: 'Strasua', sans-serif;
}

.nuevos-ingresos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.ingresos{
    cursor: pointer;
    margin-bottom: 35px;
    overflow: hidden;
    transition: all .5s;
    
}

.ingresos:hover{
    box-shadow: 0 0 10px gray;
}

.ingreso{
    width: 476px;
    cursor: pointer;
    margin-bottom: 7px;
    transition: all .5s;
}

.ingreso:hover{
    transform: scale(1.1);
}

.ingresos h2{
    padding-bottom: 18px;
    padding-top: 5px;
    margin-top: 20px;
    
}

.redes2{
    text-align: center;
    font-size: 60px;
    margin-top: 30px;
    letter-spacing: 50px;

}

.contacto{
    color: black;
    text-decoration: none;
}

.contacto2{
    text-align: center;
    font-size: 27px;
    margin-top: 30px;
}

.titulo-nosotros{
    font-family: "Varela Round", sans-serif;
    text-align: center;
    font-size: 45px;
    margin-top: 65px;
}


.contacto3{
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
}

.text-nos{
    margin-top: 45px;
    height: 100px;
    background-color: #32322ee6;
    box-shadow: 0 0 7px black;

}

.text-nos h3{
    font-size: 35px;
    padding-top: 27px;
    font-family: 'Strasua', sans-serif;
    text-align: center;
    color: #F7FAE5;
    letter-spacing: 3px;
}

footer{
    background-color: #F7FAE5;
    margin-top: 48px;
    border-top: solid 1px black;
    text-align: center;
    padding-top: 11px;
    
}


footer p{
    font-size: 15px;
    text-align: center;
    margin-top: 10px;         
    
}

.redes-footer{
    font-size: 30px;
    text-decoration: none;
    color: black;
    padding: 10px;
}


.menu-footer{
    color: #32322E;
    font-size: 18px;
    padding: 8px;


}

.lista-menu{
    list-style: none;
    display: inline;

}

.ul{
    text-align: center;
    margin-top: 7px;
}

.subir{
    height: 38px;
    width: 38px;
    background-color: #32322E;
    color: white;
    position: fixed;
    right: 33px;
    bottom: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    font-size: 25px;
    box-shadow: 0 0 4px black;
}

.text-form{
    font-size: 33px;
    text-align: center;
    margin-top: 45px;
    
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 50px;
}

form{
    width: 400px;
    background-color: rgba(162, 152, 152, 0.125);
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 10px rgba(176, 168, 168, 0.504);

}

form h3{
    text-align: center;
    font-size: 25px;
    color: black;
    margin-bottom: 30px;
    
}

input{
    align-items: center;
    background-color: rgba(255, 255, 255, 0.584);
    padding: 18px 18px;
    margin-bottom: 20px;
    height: 30px;
    width: 300px;
    border: 0;
    border-radius: 15px;
    

}

.enviar{
    height: 35px;
    background-color:antiquewhite;
    color: black;
    transition: all .3s;
    cursor: pointer;
    padding-top: 8px;
    font-size: 15px;
    
}

.enviar:hover{
    background-color: rgb(248, 194, 124);
}

/* medias */

@media( max-width:1000px){
    .titulo-nosotros{
        font-size: xx-large;
        text-align: center;
    }
    .text-nos{
        font-size: xx-large;
        text-align: center;
    }
    .contacto2{
        font-size: large;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .contacto3{
        font-size: small;
        text-align: center;
    }
    .redes2{
        font-size: xx-large;
        text-align: center;
    }
}
@media (max-width:650px){
    .titulo-nosotros{
        font-size: xx-large;
        text-align: center;
    }
    .text-nos{
        font-size: xx-large;
        text-align: center;
    }
    .contacto2{
        font-size: large;
        text-align: center;
        margin-left: 10px;
        margin-right: 10px;
    }
    .contacto3{
        font-size: small;
        text-align: center;
    }
    .redes2{
        font-size: xx-large;
        text-align: center;
    }
}


@media(max-width:1400px){
    .productos{
        justify-content: space-evenly;
        
    }
}


